<h1 class="text-5xl text-main">Register Now: </h1>

<div class="w-8/12 mx-auto shadow p-5 bg-gray-300 mt-5 rounded">

    <form [formGroup]="RegisterForm" (ngSubmit)="showData(RegisterForm)">
        <div>
            <label for="" class="mt-5">Name:</label>
            <input type="text" class="form-control" formControlName="name">
            @if(RegisterForm.get('name')?.touched&&RegisterForm.get('name')?.hasError('required')) 
            {
                <p class="text-red-500 border border-red-500 rounded"> User Name Is Required</p>
            }
      
      
        </div>
    
        <div>
            <label for="" class="mt-5">Email:</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
    
        <div>
            <label for="" class="mt-5">passsword:</label>
            <input type="password" class="form-control"formControlName="password">
            <!-- @if(RegisterForm.get('password')?.touched&&RegisterForm.get('password')?.errors('required')) -->
        
        
        
        
        </div>
    
    
    
    
        <div>
            <label for="" class="mt-5">Re-passsword:</label>
            <input type="password" class="form-control"formControlName="rePassword">
        </div>
    
    
        <div>
            <label for="" class="mt-5">phone:</label>
            <input type="text" class="form-control"formControlName="phone">
        </div>
    
    
    
        <div>
            @if(RegisterForm.invalid)
            {

                <button class="bg-red-700 rounded-xl px-3 py-2 text-white" [disabled]="RegisterForm.invalid">Register</button>
            }
            @else
            {
                <button class="rounded-xl px-3 py-2 bg-main text-white" > Register </button>

            }
        </div>
    
    
    
    
    
    </form>
</div>