<nav class="">
<div class="flex justify-between">
    <ul class="space-x-3 bg-red-400 flex ">
        <li>
            <img src="../../../assets/images/freshcart-logo.svg">
        </li>
        <li>
            <a routerLink="home" routerLinkActive="bg-main">Home</a>
        </li>
        <li>
            <a routerLink="cart" routerLinkActive="bg-main">cart</a>
        </li>
        <li>
            <a routerLink="Products" routerLinkActive="bg-main">Products</a>
        </li>
        <li>
            <a routerLink="brand" routerLinkActive="bg-main">brand</a>
        </li>
        <li>
            <a routerLink="categories" routerLinkActive="bg-main">categories</a>
        </li>
    </ul>
    <ul class="flex">
        <li>
            <i class="fab fa-facebook"></i>
        </li>
        <li>
            <i class="fab fa-twitter"></i>
        </li>
        <li>
            <i class="fab fa-instagram"></i>
        </li>
        <li>
            <a routerLink="categories" routerLinkActive="bg-main">logout</a>
        </li>
    </ul>
</div>
</nav>