<nav class="bg-zinc-200 shadow-lg">
    <div class="container mx-auto flex flex-wrap items-center justify-between p-4">
      <!-- Logo -->
      <div class="flex items-center space-x-3">
        <img src="./assets/images/freshcart-logo.svg" alt="Logo" class="h-8">
      </div>
  
      <!-- Hamburger Icon for Mobile -->
      <button
        class="block md:hidden text-black"
        (click)="toggleMenu()"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Navigation Links -->
      <ul
        class="hidden md:flex flex-col md:flex-row space-x-3 md:space-x-5 mt-3 md:mt-0"
        [class.hidden]="!isMenuOpen"
      >
        <li><a routerLink="home" routerLinkActive="bg-main">Home</a></li>
        <li><a routerLink="cart" routerLinkActive="bg-main">Cart</a></li>
        <li><a routerLink="Product" routerLinkActive="bg-main">Products</a></li>
        <li><a routerLink="brands" routerLinkActive="bg-main">Brand</a></li>
        <li><a routerLink="categories" routerLinkActive="bg-main">Categories</a></li>
      </ul>
  
      <!-- Social Media Links -->
      <ul class="hidden md:flex space-x-3 items-center">
        <li><i class="fab fa-facebook text-xl"></i></li>
        <li><i class="fab fa-twitter text-xl"></i></li>
        <li><i class="fab fa-instagram text-xl"></i></li>
        <li><a routerLink="logout" routerLinkActive="bg-main">Logout</a></li>
      </ul>
    </div>
  
    <!-- Mobile Menu -->
    <div
      class="md:hidden flex flex-col space-y-3 p-4"
      [class.hidden]="!isMenuOpen"
    >
      <ul>
        <li><a routerLink="home" routerLinkActive="bg-main">Home</a></li>
        <li><a routerLink="cart" routerLinkActive="bg-main">Cart</a></li>
        <li><a routerLink="Product" routerLinkActive="bg-main">Products</a></li>
        <li><a routerLink="brands" routerLinkActive="bg-main">Brand</a></li>
        <li><a routerLink="categories" routerLinkActive="bg-main">Categories</a></li>
      </ul>
      <ul class="flex space-x-3 mt-3">
        <li><i class="fab fa-facebook text-xl"></i></li>
        <li><i class="fab fa-twitter text-xl"></i></li>
        <li><i class="fab fa-instagram text-xl"></i></li>
        <li><a routerLink="logout" routerLinkActive="bg-main">Logout</a></li>
        <li><a routerLink="register" routerLinkActive="bg-main">register</a></li>
        <li><a routerLink="login " routerLinkActive="bg-main">login</a></li>
      </ul>
    </div>
  </nav>
  